:root{
    --main-text-color: #402615;
    --event-background-color: linear-gradient(#DCB06F, #DCB06F);
    --global-padding: 4.75vw;
    --bottom-background-color: #E6CC9B;
    --milk-color:#f4efea;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
}

body{
    background: var(--milk-color);
    direction: rtl;
    color: var(--main-text-color);
}

button{
    cursor: pointer;
}

strong{
    font-weight: 500;
}

.bold{
    font-weight: 500;
}

[data-mobile-display="false"]{
    display: none;
}

.hero{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), radial-gradient(70.25% 70.25% at 50% 23.5%, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0.2) 0.35%, rgba(0, 0, 0, 0.2) 48.71%),
                    url(../img/backgrounds/hero-background.svg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    padding: var(--global-padding);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3vh;
}

nav div{
    display: flex;
}

.social-links{
    justify-content: left;
}

nav .social-links a{
    width: 7.5vw;
    height: 7.5vw;    
    margin: 0 1.5vw;
    background-repeat: no-repeat;
    background-size: contain;
}

nav .social-links a:first-child{
    background-image: url(../img/icons/white-outlined-call-icon.svg);
}

nav .social-links a:nth-child(2){
    background-image: url(../img/social-media-icons/bw-fb-icon.svg);
}

nav .social-links a:last-child{
    background-image: url(../img/social-media-icons/bw-ig-icon.svg);
}

.hamburger{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 9vw;
    height: 5.5vw;
    cursor: pointer;
    z-index: 999;
}

.hamburger span, .hamburger::before, .hamburger::after{
    position: absolute;
    content: '';
    width: 9vw;
    height: 0.5vw;
    background: var(--milk-color);
    transition: .3s all;
    border-radius: 20px;
}

.hamburger span{
    bottom: 50%;
} 

.hamburger::after{
    bottom: 0;
}

.hamburger[data-is-open="true"] span, .hamburger[data-is-open="true"]::before, .hamburger[data-is-open="true"]::after{
    transform: rotate(45deg);
    top: 50%;
}

.hamburger[data-is-open="true"]::after{
    transform: rotate(-45deg);
}

.hamburger[data-is-open="true"] span{
    opacity: 0;
}

/* popup menu */
.side-menu{
    position: fixed;
    display: flex;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    /* background: rgba(139, 110, 88, 0.6); */
    background: linear-gradient(315deg, #772f1ae6 0%, #8b6e5899 74%);
    flex-direction: column;
    align-items: center;
    -webkit-backdrop-filter: blur(4.5px);
    backdrop-filter: blur(4.5px);
    animation: fadeInFromNone 0.5s ease-out forwards;
    z-index: 1;
}

.side-menu.hidden{
    display: none;
}

.side-menu ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.side-menu li{
    margin: 4vh 0;
    font-weight: 100;
}

.side-menu li:first-child{
    margin-top: 20vh;
}

.side-menu ul li a{
    font-size: 6.5vw;
    color: #fff;

}

.hero img{
    margin: 0 auto;
    width: 64vw;
}

.menu-btn{
    display: inline-block;
    margin: auto auto 0 auto;
    padding: 2.3vw 5vw;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 9vw;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
}

.scroll-arrow{
    position: relative;
    display: inline-block;
    margin: 10vh auto 6vh auto;
    width: 18px;
    height: 28px;
    background-image: url(../img/icons/arrow.svg);
    animation: UpDown 1.5s linear infinite;
    cursor: pointer;
}

.colture-events-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 12vh;
    background-image: var(--event-background-color);
    background-repeat: no-repeat;
    background-size: 100% 72.5%;
}

.title{
    display: flex;
    flex-direction: column;
    margin-top: 7vh;
}

.title span {
    line-height: 1.1;
}

.title span:first-child{
    font-size: 16.5vw;
    font-weight: 500;
    color: #F8F7FA;
    text-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1)
}

.title span:first-child::before{
    content: '';
    position: relative;
    display: inline-block;
    margin-left: 3vw;
    top: 0;
    left: 0;
    width: 12.5vw;
    height: 3px;
    border-radius: 10px;
    background: #fff;
}

.title span:last-child{
    display:-webkit-box;
    display:-webkit-flex;
    display:-webkit-flexbox;
    display: flex;
    margin-right: 16vw;
    font-size: 10vw;
    font-weight: 600;
    color: var(--main-text-color);
} 

.title span:last-child::after{
    content: '';
    position: relative;
    top: 0;
    left: 0;
    height: 3px;
    flex-grow: 1;
    background: #fff;
    border-radius: 10px;
    align-self: end;
    margin: auto 3vw 1vh 0;
}

/* event slider container */
.events-slider{
    display: flex;
    padding: 6vh var(--global-padding) 2vh 0;
    overflow-x: scroll;
}

.colture-events-container .entry{
    font-size: 4.5vw;
    padding-right: var(--global-padding);
}

.about-container{
    padding: var(--global-padding);
}

.about-container .about-title{
    display: flex;
    border-bottom: 1px solid #cacaca;
}

.about-container .about-title .about-title-text{
    display: flex;
    flex-direction: column;
    line-height: 0.9;
}

.about-container .about-title .about-title-text span:nth-child(1){
    font-size: 14vw;
    font-weight: 600;
}

.about-container .about-title .about-title-text strong:nth-child(2){
    font-size: 15vw;
    font-weight: 400;
}

.about-container .about-title .about-title-text span:nth-child(3){
    font-size: 16.5vw;
    font-weight: 100;
}

.about-container .about-title img{
    width: 100%;
    height: 100%;
    margin-bottom: -0.1vh;
    margin-top: auto;
    object-fit: contain;
}

.about-container .about-second-title{
    line-height: 2;
    font-size: 5.5vw;
}

.about-container .about-description{
    line-height: 1.5;
    font-size: 3.8vw;
}

.about-container div {
    margin-bottom: 5vw;
}

.about-container .donate-box{
    display: flex;
    flex-direction: column;
    margin-top: 8vh;
    text-align: center;
    border: 2px solid var(--main-text-color);
}

.donate-box p{
    margin-top: 3.8vh;
    font-size: 5.5vw;
}

.donate-box strong{
    font-size: 5.5vw;
}

.donate-box .donate-btn{
    display: flex;
    padding: 2.6vw 12.5vw;
    margin: 2vh auto 2.8vh auto;
    font-size: 4.5vw;
    font-weight: 500;
    border-style: none;
    border-radius: 100px;
    background: #2171A7;
    box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.25);
    color: #fff;
}

.donate-btn::after{
    content: '';
    display: inline-block;
    width: 8.5vw;
    height: 6vw;
    margin-right: 1.5vw;
    background: url(../img/icons/donate-icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.about-container div:last-child img{
    width: 30%;
    display: block;
    margin: 10vh auto;
}

.about-container div:last-child p{
    font-size: 4.3vw;
    line-height: 2;
}

.contact-container{
    display: flex;
    flex-direction: column;
    height: 72vh;
    padding: var(--global-padding);
    background: linear-gradient(180deg, rgba(52, 32, 19, 0) 38.54%, rgba(0, 0, 0, 0.76) 100%),
                url(../img/backgrounds/contact-background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-container .contact-title{
    display: flex;
    flex-direction: column;
    line-height: 1;
    color: #fff;
}

.contact-container .contact-title strong{
    font-size: 10vw;
    font-weight: 600;
}

.contact-container .second-title{
    font-size: 7.2vw;
}

.form-container{
    margin: auto 0 2vh 0;
}

.form-container form{
    display: flex;
    flex-direction: column;
    color: #fff;
}

.form-container form label{
    font-size: 4.5vw;
    margin-bottom: 0.4vh;
}

.form-container form input{
    width: 100%;
    padding: 3.8vw;
    margin-bottom: 2vh;
    align-self: center;
    border-style: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.8);
    background-image: url(../img/icons/name-icon.svg);
    background-repeat: no-repeat;
    background-position: left 5% center;
}

.form-container form #phone{
    background-image: url(../img/icons/fill-call-icon.svg);
}

input::placeholder{
    font-size: 4vw;
}

.form-container button{
    font-weight: 500;
    font-size: 4.5vw;
    width: 100%;
    padding: 0.8em;
    align-self: center;
    margin: 8vw 0 4vw 0;
    border-radius: 5px;
    border-style: none;
    color: #402615;
    background: #bbe1c3;
}

.form-container button::after{
    content: '';
    position: relative;
    display: inline-block;
    margin-right: 0.5vw;
    width: 6vw;
    height: 6vw;
    background: url(../img/icons/contact-icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
}


/* disabled button stlye */
button.disabled{
    content: 'adadadada';
    color: #4026158a;
    background: #bbe1c3cc;
    cursor: not-allowed;
}

.form-container p{
    align-self: center;
}

.bottom-container{
    padding: var(--global-padding);
    background: linear-gradient(to top, var(--bottom-background-color) 65%, transparent 0);
}

.bottom-container .moments .moments-title span{
    font-weight: 700;
    font-size: 10vw;
}

.bottom-container .moments .moments-title p{
    margin-bottom: 4vh;
    line-height: 0.3;
    font-weight: 300;
    font-size: 8.3vw;
}

.bottom-container .moments .gallery{
    display: grid;
    grid-template-areas: 
        'a b c' 
        'd e e';
    max-width: 75vw;
    margin: auto;
}

.bottom-container .moments .gallery img{
    --gap: 1vw;
    object-fit: cover;
    margin: calc( var( --gap ) / 2 );
    width: calc( 100% - var( --gap ) );
    max-height: 40vh;
}

.gallery img:nth-child(1){
    grid-area: a;
}

.gallery img:nth-child(2){
    grid-area: b;
}

.gallery img:nth-child(3){
    grid-area: c;
}

.gallery img:nth-child(4){
    grid-area: d;
}

.gallery img:nth-child(5){
    grid-area: e;
}

/*.bottom-container .moments .gallery img:nth-child(3){
    margin-left: 0;
    flex-grow: 1;
}

.bottom-container .moments .gallery img:last-child{
    margin-left: 0;
    flex-grow: 1;
} */

.bottom-container .gallery-bullets{
    display: flex;
    justify-content: center;
    margin: 1vh 0 8vh 0;
}

.bottom-container .gallery-bullets span{
    display: inline-block;
    width: 1.5vw;
    height: 1.5vw;
    margin: 0 0.3vw 0 0.3vw;
    opacity: 0.4;
    border-radius: 50%;
    background: #fff;
    /* cursor: pointer; */
    transition: opacity 0.3s ease-in;
}

.bottom-container .gallery-bullets span.active{
    opacity: 1;
}


.bottom-container .top-page{
    display: block;
    padding: 0.8vh 6.5vw;
    margin: 0 auto 12vh auto;
    font-size: 3.5vw;
    border-radius: 50px;
    border: 2px solid #000;
    background: transparent;
    color: #000;
}

.bottom-container .top-page::after{
    content: '';
    position: relative;
    display: inline-block;
    margin: auto 1vw;
    width: 3vw;
    height: 2vw;
    background: url(../img/icons/mini-arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.bottom-container .contact{
    display: flex;
    margin: 0 auto;
    width: 48%;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.bottom-container .contact a{
    padding: 5.5vw;
    width: 9vw;
    height: 9vw;
    background: url(../img/social-media-icons/brown-call-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid var(--main-text-color);
    border-radius: 50%;
}

.bottom-container .contact .fb{
    background: url(../img/social-media-icons/brown-fb-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.bottom-container .contact .ig{
    background: url(../img/social-media-icons/brown-ig-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.logos{
    display: flex;
    justify-content: center;
    margin: 4vh auto 1vh auto;
}

.logos img{
    width: 11.5vw;
    object-fit: contain
}

.idea-description{
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    padding: var(--global-padding);
}

.idea-description div {
    line-height: 1.4;
    font-size: 4.3vw;
}

.idea-description img{
    display: none;
}


.idea-description div:nth-child(1){
    margin: 1.7vh 0px;
}

@keyframes UpDown{
    0%, 100%{
      transform: translate3d(0, 0, 0);
    }
    
    50% {
        transform: translate3d(0, 1em, 0);
    }
}


@keyframes fadeInFromNone{
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@keyframes fadeToNone{
    0%{
        display: block;
    }

    99%{
        opacity: 0;
    }

    100%{
        display: none;
    }
}

@media all and (min-width: 820px){

    [data-mobile-display="false"]{
        display: inline-block;
    }

    [data-desktop-display="false"]{
        display: none;
    }

    .hero{

    }

    header{
        padding: 3vw;
    }

    nav{
        margin-top: 0;
    }
    
    nav .social-links a{
        width: 1.9vw;
        height: 1.9vw;
        margin: 0 0.5vw;
    }
    
    .menu-container button, .menu-container a{
        font-size: 1.4vw;
        color: var(--milk-color);
        margin: 0 1.5vw;
        transition: all 0.4s ease-in-out;
    }

    .menu-container a::before{
        position: relative;
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background: var(--milk-color);
        transition: all .3s ease-in-out;
        opacity: 0;
    }

    .menu-container a:hover::before{
        opacity: 1;
        transform: translateY(2vw);
        
    }

    .menu-container button{
        display: flex;
        align-items: center;
        padding: 0vh 1.5vw;
        border-radius: 3px;
        border: 1px solid var(--milk-color);
        background: transparent;
    }
    
    .menu-container button::before{
        content: '';
        display: inline-block;
        width: 1.5vw;
        height: 1.5vw;
        margin-left: 0.5vw;
        background: url(../img/icons/menu-btn-icon.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }

    .hero img{
        width: clamp(329px, 27vw, 50vw);
    }
    
    .hero .menu-btn{
        margin-bottom: 5vh;
        padding: 1.5vw 2.8vw;
        font-size: clamp(3vw, 400px,3rem);
    }
    
    .colture-events-container{
        background-size: 100% 83.5%;
    }

    .colture-events-container .title span:first-child{
        font-size: 8.7vw;
    }

    .colture-events-container .title span:last-child{
        font-size: 5vw;
    }

    .colture-events-container .events-slider{
        flex-wrap: wrap;
        overflow-x: hidden;
    }

    .colture-events-container .entry{
        font-size: 1.45vw;
    }

    .about-container{
        padding: 0 var(--global-padding);
    }

    .about-container .about-title{
        display: flex;
        width: 75%;
        font-size: 5vw;
        padding-bottom: 2vh;
        border-bottom: 2px solid #cacaca;
    }
    
    .about-container .about-title .about-title-text{
        display: block;
        align-self: end;
        font-size: 4.2vw;
        line-height: 0.9;
    }
    
    .about-container .about-title .about-title-text span:nth-child(1){
        font-size: 4.2vw;
        font-weight: 700;
    }
    
    .about-container .about-title .about-title-text strong:nth-child(2){
        font-size: 4.2vw;
        font-weight: 500;
    }
    
    .about-container .about-title .about-title-text span:nth-child(3){
        font-size: 4.2vw;
        font-weight: 300;
    }
    
    .about-container .about-title img{
        width: 31%;
        height: 100%;
        object-fit: contain;
        margin: 0 auto -2.3vh 0;
    }

    .about-container div{
        font-size: 1.5vw;
        line-height: 1.5;
        margin-bottom: 0;
    }

    .about-container p{
        display: inline;
    }

    .about-container .about-second-title{
        margin-top: 9vh;
        font-size: 1.8vw;
    }

    .about-container div:last-child{
        margin-top: 4vh;
    }

    .about-container .donate-box{
        width: 36vw;
        margin: 12vh auto 0 auto;
    }
    
    .donate-box p{
        font-size: 1.6vw;
    }
    
    .donate-box strong{
        font-size: 1.9vw;
        margin: 2vh 0;
    }
    
    .donate-box .donate-btn{
        width: 75%;
        height: 6.8vh;
        margin: 0 auto 5vh auto;
        padding: 0;
        justify-content: center;
        align-items: center;
        align-content: center;
        font-size: 1.6vw;
    }
    
    .donate-btn::after{
        height: 1.9vw;
        width: 1.9vw;
        margin-right: 0.8vw;
    }

    .about-container div:last-child img{
        width: 15%;
    }
    
    .about-container div:last-child p{
        display: inline-block;
        margin-bottom: 8.3vh;
        text-align: center;
        font-size: 2vw;
    }

    .contact-container{
        flex-direction: row-reverse;
        height: auto;
        background: linear-gradient(180deg, rgba(52, 32, 19, 0) 38.54%, rgba(0, 0, 0, 0.76) 100%),
                    url(../img/backgrounds/contact-background-desktop.svg);
        background-size: cover;
    }
    
    .contact-container .contact-title{
        margin: auto 0 5vh auto;
    }

    .contact-container .contact-title strong, .contact-title .second-title{
        font-size: 5.5vw;
    }
    
    .contact-container .form-container{
        width: 30%;
        margin: 0 0 auto auto;
    }

    .contact-container .form-container label{
        font-size: 2.3vw;
    }

    .contact-container .form-container input{
        padding: 2.05vw;
        background-size: 4%;
    }

    .contact-container .form-container input::placeholder{
        font-size: 1.75vw;
    }

    .contact-container .form-container button{
        margin: 6.5vh 0 0 0;
        font-size: 1.6vw;
    }

    .contact-container .form-container button::after{
        height: 1.6vw;
        width: 1.6vw;
    }

    .idea-description{
        padding: var(--global-padding) 0 var(--global-padding) 0;
    }
    
    .idea-description div img{
        display: inline-block;
    }

    .idea-description .first-paragraph, .idea-description .second-paragraph{
        display: flex;
    }

    .idea-description .first-paragraph div{
        margin-right: var(--global-padding);
    }

    .idea-description .first-paragraph strong:first-child{
        font-weight: 400;
        color: #703F0F;
    }

    .idea-description .first-paragraph p[data-mobile-display="false"]{
        display: block;
        margin-bottom: 3vh;
        font-weight: 500;
    }

    .idea-description .first-paragraph p:last-child{
        width: 78%;
        line-height: 1.7;
        font-size: 2.0vw;
    }

    .idea-description .first-paragraph img {
        width: 100%;
    }

    .idea-description .second-paragraph{
        background-image: url(../img/vectors/blop-vector.svg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: right;
    }

    .idea-description .second-paragraph img{
        width: 21.5%;
        height: 21.5%;
        margin: auto 10vw auto 10vw;
    }

    .idea-description .second-paragraph div{
        margin: 20vh 6vw 20vh auto;
        width: 30.5%;
    }

    .idea-description .second-paragraph strong{
        font-size: 5vw;
    }

    .idea-description .second-paragraph p, .idea-description .second-paragraph p strong{
        font-size: 2vw;
    }

    .bottom-container{
        background: linear-gradient(to top, var(--bottom-background-color) 60%, transparent 0);
    }

    .bottom-container .moments .moments-title{
        text-align: center;
    }

    .bottom-container .moments .moments-title span, .bottom-container .moments .moments-title p{
        display: inline-block;
        font-size: 5vw;
        margin: 0 4px;
    }

    .bottom-container .moments .moments-title::before{
        content: '';
        position: relative;
        display: block;
        width: 5.2vw;
        height: 5.25vw;
        margin: 0px auto -10px auto;
        background-image: url(../img/icons/coffee-icon.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .bottom-container button.top-page{
        display: flex;
        margin: 20.5vh auto 30vh auto;
        padding: 0.8vh 1.5vw;
        font-size: 1.7vw;
    }

    .bottom-container button.top-page::after{
        margin: auto 0.8vw auto auto;
        width: 1.3vw;
        height: 0.75vw;
    }

    .bottom-container .contact{
        justify-content: center;
    }

    .bottom-container .contact a{
        width: 3.5vw;
        height: 3.5vw;
        padding: 0;
        margin: 0 0.4vw;
    }

    .bottom-container .logos{
        margin-top: 5vh;
    }

    .bottom-container .logos img {
        width: 4vw;
        object-fit: contain;
    }


    
}